{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}

<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "img/about-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Choose shrewdly</h1>
                        <hr class="small">
                        <span class="subheading">Every vote matters to the State</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
			<h1 align="center">{{questions.question_text}}</h1>
			<br>
			
			{% if error_message %}
				<p><strong>{{error_message}}</strong></p>
			{% endif %}

			<form action="{% url "polls:vote" questions.id %}" method="post">
				{% csrf_token %}
				
				<ol>
					{% for choice in questions.choice_set.all %}
						<li>
						<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"/>
						<label for="choice{{forloop.counter}}">{{choice.choice_text}}</label> 
						</li>
						<hr>
					{% endfor %}
				</ol>
				<div align="center">
					<input class="btn btn-default" type="submit" value="vote"/>
				</div>
			</form>
            </div>
        </div>
    </div>

    <hr>

{% endblock main_content %}