{% extends "index.html" %} 
{% load staticfiles %} 

{% block column_four %}

<p>Choose a question on which to vote upon: </p>
{% if questions_polls %}
<ul>
    {% for question in questions_polls reversed%}
    <li>
        <a href="{% url " polls:detail " %}">{{question.id}}. {{question.question_text}}</a>
    </li>
    {% endfor %}
</ul>
{#<p>Feel free to add some <a href="{% url " polls:questions_add " %}">here</a>. </p> #} {% else %}
<p>We don't have any questions as of now.</p>
{#<p>Feel free to add some <a href="{% url " polls:questions_add " %}">here</a>. </p> #} {% endif %} 

{% endblock column_four %}
