{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Log into your account{% endblock %}
{% block body_class %}{{ block.super }} login{% endblock %}


{% block content_title %}
  <h2>Log into your account</h2>
{% endblock %}

{% block main_content %}
    
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/together.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Good bye</h1>
                        <hr class="small">
                        <span class="subheading">We hope to see you again.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h3 align="center">Logged out</h3>
            <h2 align="center">Feel free to log in anytime</h2>
            <br>
            <p align="right">Go back to the <a href="{% url '' %}">homepage</a> &rarr;</p>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}

